<h2>My Cart</h2>session id: <%= session[:cart_id]%>
<div id="shopping-cart">
    <%= render partial: "/shared/line_items_show", locals: {line_items: @cart.line_items, this_parent: @cart} %>
</div>
<%= link_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger active", role: "button" %>
<%= link_to 'Continue Shopping', root_path, role: "button", class: "btn btn-primary active" %>
<%= link_to "Checkout", new_order_path, role: "button", class: "btn btn-success active" %>

