<%= render partial: "shared/product_show", locals: {product: @product} %>

<p>Total Stock: <b><%= @product.product_stock %></b></p>
<p>Listed on <%= @product.created_at %> by <%#= product.user.username %></p>

<%= link_to 'Edit', edit_admin_product_path(@product), role: "button", class: "btn btn-info active" %>
<%= link_to 'All', admin_products_path, role: "button", class: "btn btn-success active" %>
