<div class="thumbnail">
  <%# @product.product_pictures.each do |picture| %><!-- for simple, only show first one-->
      <%=  display_image_file(product.product_pictures[0]) %><br />
  <%# end %>
  <div class="caption-full">
    <%= display_current_price(product.basic_price, product.sold_price) %>
    <h4><%= link_to product.title, store_path(product.id) %></a></h4>
    <p>
      <%= truncate( sanitize(product.description), length: 100, separator: ' ') %>
    </p>
    <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
  </div>

</div>