<div class="thumbnail">
  <%# @product.product_pictures.each do |picture| %><!-- for simple, only show first one-->
      <%=  display_image_file(product.product_pictures[0]) %><br />
  <%# end %>
  <div class="caption-full">
    <h4 class="pull-right"><%= number_to_currency(product.basic_price, :locale => 'en-GB')  %></h4>
    <h4><%= link_to product.title, "#" %></a>
    </h4>
    <p><%= truncate( sanitize(product.description), length: 40, separator: ' ') %></p>
  </div>
  <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
</div>